body {
    background: rgb(204, 199, 199);
}
.container {
    width: 80%;
    margin: auto;
}
header {
    text-align: center;
    font-family: Fascinate, serif;
    font-style: italic;
    color: white;
}
.link {
    text-decoration: none;
    font-family: "PT Sans Narrow";
    font-weight: 30;
    color: black;
}
.nav-bar {
    background: rgb(30, 228, 246);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search .input-box, .search-btn {
    font-family: "PT Sans Narrow", sans-serif;
}
.input-box {
    padding: 10px 60px 10px 5px;
}
.search-btn {
    background: rgb(32, 31, 31);
    color: white;
    padding: 10px 45px;
    cursor: pointer;
}
main {
    display: flex;
}
.article {
    background: white;
    padding: 15px;
}
main h2 {
    text-align: center;
}
main h2, h3 {
    font-family: Fascinate, serif;
    font-style: italic;
}