body {
    background: rgb(204, 199, 199);
}
header {
    text-align: center;
    font-family: Fascinate, serif;
    font-style: italic;
    color: white;
}
.link {
    text-decoration: none;
    font-family: "PT Sans Narrow";
    font-weight: 30;
    color: black;
}
.nav-bar {
    background: rgb(30, 228, 246);

}